.sec4{
    height: 105vh;
    width: 100%;
    background-color: rgb(49, 44, 44);
}
.heading{
    height: 350px;
    width: 100%;
    padding: 30px;
    justify-content: center;
    text-align: center;
}
.heading p{
    margin-top: 3em;
    color: white;
    font-size: .7em;
}
.heading h1{
    color: white;
    font-size: 1.5em;
}
.img{
   position: relative;
   border: 5px;
   border-color: gray;
  
   filter: blur(1px);
   filter: url(logo/images\ \(1\).jpeg);
}
.img img{
    height: 400px;
    width: 60%;
    position: absolute;
    top: 4em;
    left: 13em;
    box-shadow: 15px 15px 15px rgb(35, 33, 33);
    outline: none;
    border-radius: 5px;
}
